<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestionTechApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles/homeEstilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>

    <header>
        <nav class="navbar bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/img/home.png" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top">
                    <i class="bi bi-arrow-bar-left"></i> Regresar
                </a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">


            <div class="row my-3">
                <div class="col-12 col-md-6">
                    <img src="../assets/img/Robot.webp" alt="foto" class="img-fluid w-100">
                </div>
                <div class="col-12 col-md-6 align-self-center">

                    <h3>Identificación de tecnologías: </h3>
                    <div class="alert alert-primary" role="alert">
                        La identificación de tecnologías relevantes es esencial para la gestión tecnológica de una
                        organización. En un entorno empresarial en constante evolución, comprender las herramientas y
                        soluciones tecnológicas utilizadas en tu industria es clave para tomar decisiones estratégicas
                        informadas.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 my-5">

                    <h3>Explotación de tecnologías: </h3>
                    <hr>

                    <form>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Nombre del proyecto o tecnología</label>
                                    <input type="text" class="form-control" id="nombreProyectoexplotacion">
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="mb-3">
                                    <label class="form-label">Categoria</label>
                                    <select class="form-select" id="categoriaexplotacion">
                                        <option value="Desarrollo de Software" selected>Desarrollo de Software</option>
                                        <option value="Hardware">Hardware</option>
                                        <option value="Redes">Redes</option>
                                        <option value="Seguridad Informática">Seguridad Informática</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Descripción"
                                        id="descripcionexplotacion"></textarea>
                                    <label>Descripción</label>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Tipo de desarrollo</label>
                                    <select class="form-select" id="tipodesarrolloexplotacion">
                                        <option value="Inhouse" selected>Inhouse</option>
                                        <option value="Externa">Externa</option>
                                        <option value="Mixta">Mixta</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Impacto</label>
                                    <select class="form-select" id="impactoexplotacion">
                                        <option value="1" selected>1 (Mínimo)</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5 (Máximo)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Aprovechamiento</label>
                                    <select class="form-select" id="importanciaexplotacion">
                                        <option value="1" selected>1 (Mínimo)</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5 (Máximo)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Facilidad de transferencia</label>
                                    <select class="form-select" id="facilidadtransferenciaexplotacion">
                                        <option value="1" selected>1 (Mínimo)</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5 (Máximo)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Impacto de la transferencia</label>
                                    <select class="form-select" id="impactotransferenciaexplotacion">
                                        <option value="1" selected>1 (Mínimo)</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5 (Máximo)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Seguimiento de la tecnologia</label>
                                    <select class="form-select" id="seguimientoexplotacion">
                                        <option value="Rápida" selected>Rápida</option>
                                        <option value="Dinámica">Dinámica</option>
                                        <option value="Lenta">Lenta</option>
                                        <option value="Efectiva">Efectiva</option>
                                        <option value="Inapropiada">Inapropiada</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Acciones a implementar"
                                        id="accionesimplementarexplotacion"></textarea>
                                    <label>Acciones a implementar</label>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary mt-2" type="button">Evaluar</button>

                    </form>
                </div>
            </div>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>