<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestionTechApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles/homeEstilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>

    <header>
        <nav class="navbar bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/img/home.png" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top">
                    <i class="bi bi-arrow-bar-left"></i> Regresar
                </a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 my-5">

                    <h3>Identificación de tecnologías: </h3>
                    <hr>

                    <h3>1. Medición de las capacidades de la organización comparado con los competidores: </h3>
                    <form class="mt-2">

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <h5>Criterios de capacidad</h5>
                            </div>
                            <div class="col-12 col-md-3">
                                <h5>Tecnología A</h5>
                            </div>
                            <div class="col-12 col-md-3">
                                <h5>Tecnología B</h5>
                            </div>
                            <div class="col-12 col-md-3">
                                <h5>Tecnología C</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>¿Cuál es la magnitud de los recursos tecnológicos de la organización frente a la competencia?</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="magnitudCapacidadTecnologiaA" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="magnitudCapacidadTecnologiaB" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="magnitudCapacidadTecnologiaC" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>¿Cuál es la magnitud de los recursos humanos de la organización frente a la competencia?</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="magnitudCapacidadRecursosHumanosA" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="magnitudCapacidadRecursosHumanosB" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="magnitudCapacidadRecursosHumanosC" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>¿Cuál es la magnitud de los recursos financieros de la organización frente a la competencia?</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="magnitudCapacidadRecursosFinancierosA" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="magnitudCapacidadRecursosFinancierosB" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="magnitudCapacidadRecursosFinancierosC" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>¿Cuál es la relevancia de los recursos externos?</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="relevanciarecursosexternosA" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="relevanciarecursosexternosB" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="relevanciarecursosexternosC" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>¿Cuál es el estado de mantenimiento y actualización de las tecnologías existentes?</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="estadoMantenimientoA" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="estadoMantenimientoB" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="estadoMantenimientoC" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>¿Cuál es la cultura organizacional en términos de apertura a la innovación y la tecnología?</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="culturaOrganizacionalA" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="culturaOrganizacionalB" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="culturaOrganizacionalC" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>¿cuál es la capacidad de la organización para adaptarse a cambios tecnológicos que exige la tecnología?</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="capacidadCambiosA" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="capacidadCambiosB" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="capacidadCambiosC" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>¿Cuál es la experiencia previa de la organización en la adopción de la tecnología?</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="experienciapreviaA" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="experienciapreviaB" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="experienciapreviaC" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>¿Cuál es la capacidad de la organización para adquirir y desplegar la nueva tecnología?</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="capacidadAdquirirA" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="capacidadAdquirirB" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="capacidadAdquirirC" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>¿cuál es el grado de conocimiento de la organización frente a esta tecnología? (en función a los criterios “Capacidades de Conocimiento”)</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="gradoconocimeintoA" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="gradoconocimeintoB" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="gradoconocimeintoC" placeholder="Escriba su respuesta">
                                </div>
                            </div>
                        </div>
                    </form>

                    <h3>2. Diligenciar para cada tecnología identificada: </h3>
                    <form class="mt-2">
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <h5>Criterio: </h5>
                            </div>
                            <div class="col-12 col-md-3">
                                <h5>Tecnología A</h5>
                            </div>
                            <div class="col-12 col-md-3">
                                <h5>Tecnología B</h5>
                            </div>
                            <div class="col-12 col-md-3">
                                <h5>Tecnología C</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>Categoría: </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="categoriaidentificacionA">
                                            <option value="Equipo" selected>Equipo</option>
                                            <option value="Dispositivo">Dispositivo</option>
                                            <option value="Hardware">Hardware</option>
                                            <option value="Comunicaciones">Comunicaciones</option>
                                            <option value="Cienciadedatos">Ciencia de datos</option>
                                            <option value="InteligenciaArtificial">Inteligencia artificial</option>
                                            <option value="Otra">Otra</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <select class="form-select" id="categoriaidentificacionB">
                                        <option value="Equipo" selected>Equipo</option>
                                        <option value="Dispositivo">Dispositivo</option>
                                        <option value="Hardware">Hardware</option>
                                        <option value="Comunicaciones">Comunicaciones</option>
                                        <option value="Cienciadedatos">Ciencia de datos</option>
                                        <option value="InteligenciaArtificial">Inteligencia artificial</option>
                                        <option value="Otra">Otra</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <select class="form-select" id="categoriaidentificacionC">
                                        <option value="Equipo" selected>Equipo</option>
                                        <option value="Dispositivo">Dispositivo</option>
                                        <option value="Hardware">Hardware</option>
                                        <option value="Comunicaciones">Comunicaciones</option>
                                        <option value="Cienciadedatos">Ciencia de datos</option>
                                        <option value="InteligenciaArtificial">Inteligencia artificial</option>
                                        <option value="Otra">Otra</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>Disponible en otra área de la organización: </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="disponibletecnologiaA">
                                            <option value="si" selected>SI</option>
                                            <option value="no">NO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <select class="form-select" id="disponibletecnologiaB">
                                        <option value="si" selected>SI</option>
                                        <option value="no">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <select class="form-select" id="disponibletecnologiaC">
                                        <option value="si" selected>SI</option>
                                        <option value="no">NO</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>Madurez Tecnológica: </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="madurezA">
                                            <option value="emergente" selected>Emergente</option>
                                            <option value="viable">Viable</option>
                                            <option value="creciente">Creciente</option>
                                            <option value="madura">Madura</option>
                                            <option value="declive">En declive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <select class="form-select" id="madurezB">
                                        <option value="emergente" selected>Emergente</option>
                                        <option value="viable">Viable</option>
                                        <option value="creciente">Creciente</option>
                                        <option value="madura">Madura</option>
                                        <option value="declive">En declive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <select class="form-select" id="madurezC">
                                        <option value="emergente" selected>Emergente</option>
                                        <option value="viable">Viable</option>
                                        <option value="creciente">Creciente</option>
                                        <option value="madura">Madura</option>
                                        <option value="declive">En declive</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>Impacto en la organización: </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="impactoidentificacionA">
                                            <option value="1" selected>Bajo pero esencial</option>
                                            <option value="2">Alto por costo o diferenciación</option>
                                            <option value="3">Comprobado y alto</option>
                                            <option value="4">Sin combrobar pero promisorio</option>
                                            <option value="5">Bajo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <select class="form-select" id="impactoidentificacionB">
                                        <option value="1" selected>Bajo pero esencial</option>
                                        <option value="2">Alto por costo o diferenciación</option>
                                        <option value="3">Comprobado y alto</option>
                                        <option value="4">Sin combrobar pero promisorio</option>
                                        <option value="5">Bajo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <select class="form-select" id="impactoidentificacionC">
                                        <option value="1" selected>Bajo pero esencial</option>
                                        <option value="2">Alto por costo o diferenciación</option>
                                        <option value="3">Comprobado y alto</option>
                                        <option value="4">Sin combrobar pero promisorio</option>
                                        <option value="5">Bajo</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>Costo(rango) estimado de la tecnologia: </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="number" class="form-control" id="costotecnologiaA" placeholder="$">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="number" class="form-control" id="costotecnologiaB" placeholder="$">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <input type="number" class="form-control" id="costotecnologiaC" placeholder="$">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <p>Valoración: </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="valoracionTecnologiaA">
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <select class="form-select" id="valoracionTecnologiaB">
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-3">
                                    <select class="form-select" id="valoracionTecnologiaC">
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary mt-2" type="button">Evaluar</button>

                    </form>

                </div>
            </div>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>