<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>

    <header>
        <nav class="navbar bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/img/home.png" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top">
                    <i class="bi bi-arrow-bar-left"></i> Regresar
                </a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 my-5">
                    <h3>Selección de tecnologías: </h3>
                    <hr>
                    <form>

                        <div class="row my-4">
                            <div class="col-12 col-md-4">
                                <h5>Tecnología</h5>
                            </div>
                            <div class="col-12 col-md-2 text-center">
                                <h5>Valiosa</h5>
                            </div>
                            <div class="col-12 col-md-2 text-center">
                                <h5>Rara</h5>
                            </div>
                            <div class="col-12 col-md-2 text-center">
                                <h5>Inimitable</h5>
                            </div>
                            <div class="col-12 col-md-2 text-center">
                                <h5>Organizada</h5>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-12 col-md-4">
                                <h5>Tecnología 1</h5>
                            </div>

                            <div class="col-12 col-md-2">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="valiosaTecA">
                                            <option value="1" selected>Poco Valiosa</option>
                                            <option value="2">Moderadamente valiosa</option>
                                            <option value="3">Valiosa</option>
                                            <option value="4">Muy valiosa</option>
                                            <option value="5">Crucial</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="raraTecA">
                                            <option value="1" selected>Común</option>
                                            <option value="2">Poco común</option>
                                            <option value="3">Moderadamente rara</option>
                                            <option value="4">Rara</option>
                                            <option value="5">Excepcionalmente Rara</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="inimitableTecA">
                                            <option value="1" selected>Altamente Imitable</option>
                                            <option value="2">Poco Imitable</option>
                                            <option value="3">Moderadamente Imitable</option>
                                            <option value="4">Difícil de imitar</option>
                                            <option value="5">Altamente Difícil de Imitar</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="organizadaTecA">
                                            <option value="1" selected>Desorganizada</option>
                                            <option value="2">Poco Organizada</option>
                                            <option value="3">Moderadamente Organizada</option>
                                            <option value="4">Bien Organizada</option>
                                            <option value="5">Altamente Organizada</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-12 col-md-4">
                                <h5>Tecnología 2</h5>
                            </div>

                            <div class="col-12 col-md-2">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="valiosaTecB">
                                            <option value="1" selected>Poco Valiosa</option>
                                            <option value="2">Moderadamente valiosa</option>
                                            <option value="3">Valiosa</option>
                                            <option value="4">Muy valiosa</option>
                                            <option value="5">Crucial</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="raraTecB">
                                            <option value="1" selected>Común</option>
                                            <option value="2">Poco común</option>
                                            <option value="3">Moderadamente rara</option>
                                            <option value="4">Rara</option>
                                            <option value="5">Excepcionalmente Rara</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="inimitableTecB">
                                            <option value="1" selected>Altamente Imitable</option>
                                            <option value="2">Poco Imitable</option>
                                            <option value="3">Moderadamente Imitable</option>
                                            <option value="4">Difícil de imitar</option>
                                            <option value="5">Altamente Difícil de Imitar</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="organizadaTecB">
                                            <option value="1" selected>Desorganizada</option>
                                            <option value="2">Poco Organizada</option>
                                            <option value="3">Moderadamente Organizada</option>
                                            <option value="4">Bien Organizada</option>
                                            <option value="5">Altamente Organizada</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-12 col-md-4">
                                <h5>Tecnología 3</h5>
                            </div>

                            <div class="col-12 col-md-2">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="valiosaTecC">
                                            <option value="1" selected>Poco Valiosa</option>
                                            <option value="2">Moderadamente valiosa</option>
                                            <option value="3">Valiosa</option>
                                            <option value="4">Muy valiosa</option>
                                            <option value="5">Crucial</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="raraTecC">
                                            <option value="1" selected>Común</option>
                                            <option value="2">Poco común</option>
                                            <option value="3">Moderadamente rara</option>
                                            <option value="4">Rara</option>
                                            <option value="5">Excepcionalmente Rara</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="inimitableTecC">
                                            <option value="1" selected>Altamente Imitable</option>
                                            <option value="2">Poco Imitable</option>
                                            <option value="3">Moderadamente Imitable</option>
                                            <option value="4">Difícil de imitar</option>
                                            <option value="5">Altamente Difícil de Imitar</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <select class="form-select" id="organizadaTecC">
                                            <option value="1" selected>Desorganizada</option>
                                            <option value="2">Poco Organizada</option>
                                            <option value="3">Moderadamente Organizada</option>
                                            <option value="4">Bien Organizada</option>
                                            <option value="5">Altamente Organizada</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary mt-2" type="button" id="btnevaluartecnologia">Evaluar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <section class="my-3">

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <canvas id="burbujas"></canvas>
                </div>
                <div class="col-12 col-md-6 align-self-center">
                    <div class="alert alert-warning d-none" role="alert" id="mensajeseleccion">
                        A simple primary alert—check it out!
                      </div>
                </div>
            </div>
        </div>

    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0"></script>
    <script src="../controllers/controladorSeleccion.js"></script>
</body>

</html>